.dBlog-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;

   @media screen and (max-width:400px) {
      .display-blogs {
         width: 398px;
         max-width: 398px;
      }
   }

   @media screen and (min-width:400px) and (max-width:650px) {
      .display-blogs {
         width: 450px;
         max-width: 450px;
         flex-wrap: wrap;
      }
   }

   @media screen and (min-width:650px) and (max-width:1240px) {
      .display-blogs {
         width: 600px;
         max-width: 600px;
         flex-wrap: wrap;
      }
   }

   @media screen and (min-width:1240px) {
      .display-blogs {
         width: 680px;
         max-width: 680px;
      }
   }
}